<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login page</mat-toolbar><!--(ngSubmit)="loginProces()"-->
        <form fxLayoutAlign ="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" >
            <mat-form-field>
              <mat-label>User name</mat-label>
              <input matInput placeholder="Username" formControlName="nom" >
            </mat-form-field>
          
            <mat-form-field >
                <mat-label>Surname</mat-label>
                <!--type="password"-->
                <input matInput  placeholder="Surname" formControlName="prenom" >
            </mat-form-field>
            <button mat-raised-button type="submit" class="mt-5" color="primary">Login</button>
             
          </form>
          
    </mat-card>
</div>
